---
import Studio from '../../components/Studio';

export const prerender = false;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sanity Studio</title>
        <style>
            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
            #sanity {
                height: 100%;
            }
        </style>
    </head>
    <body>
        <Studio client:only="react" />
    </body>
</html>
